/* esta es la plantilla de buenas prácticas*/
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* irem = 10px */
html{
    font-size: 62.5%;
}

/* buenas prácticas: hacer multi dispositivo
modificar font-size de html al aplicar
media quaries (breakpoints), solo utilizar 
una web font, declarar variables en root:(). */

main{
    background-color: aqua;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
}

section{
    background-color: blueviolet;
    border: 0.3rem solid black;
    border-radius: 0.8rem;
    width: 50%;
    height: 60%;

}